*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
.container {
    width: 80%;
    margin: 0 auto;
} 
    
img {
 width: 100%;
}
    
ul {
list-style: none; 
}
    
a{
color: inherit;
}

/* root */

:root{
    --card-gap: 10px;
}


/* main */

.vetrine{
    display: flex;
    flex-wrap: wrap;
    gap: var(--card-gap);
    margin-top: 50px;
    margin-bottom: 50px;
    /* debug */
    background-color: aqua;
    border: 1px black solid;
}

.card{
    width: calc((100% - ((var(--card-gap))*2))/3);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 500px;
    /* debug */
    border: 1px solid rgb(218, 11, 11);
    background-color: white;
}

.pricetag{
    position: absolute;
    bottom: 0;
}

.img{
    height: 85%;
}

.main-img{
    position: absolute;
    z-index: 1;
}

.second-img{
    position: absolute;
}

.card:hover .second-img{
    z-index: 2;
}


/* hoover */

.second-img{


}