*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }
    
.container {
    width: 80%;
    margin: 0 auto;
    min-width: 1200px;
} 
    
img {
 width: 100%;
}
    
ul {
list-style: none; 
}
    
a{
color: inherit;
}

/* root */

:root{
    --card-gap: 20px;
}

/* header */

.header{
    background-color: rgb(255, 142, 50);
    height: 70PX;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.header-section{
    display:flex;
    height: 100%;
}

.header-div, .header-account{
    width: 25%;
    height: 100%;
    /* border: 1px solid black; */
}

.title-div{
    flex-grow: 1;
    height: 100%;
    /* border: 1px solid black; */
}

.header-div ul{
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
} 

.header-div ul li{
    color: white;
    font-weight: 600;
}


.header-account ul{
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
} 

.header-account ul li i{
    color: white;
    font-weight: 900;
}

.head-title{
    color: white;
    font-size: 2rem;
    text-align: center;
    line-height: 65px;
}




/* main */

.vetrine{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--card-gap);
    padding-top: 130px;
    /* margin-top: 30px;
    margin-bottom: 50px; */
    /* debug */
    /* background-color: aqua;
    border: 1px black solid; */
}

.card{
    width: calc((100% - ((var(--card-gap))*2))/3);
    position: relative;
    height: 600px;
    width: 400px;
    padding-bottom: 10px;
    /* debug */
    /* border: 1px solid rgb(218, 11, 11);
    background-color: white; */
}

.pricetag{
    position: absolute;
    bottom: 5%;
    display: inline-block;
    line-height: 1.2;
}

.img{
    height: 85%;
}

.main-img{
    position: absolute;
    z-index: 1;
}

.second-img{
    position: absolute;
}

.heart{
    background-color: white;
    position: absolute;
    z-index: 5;
    font-size: 1.2rem;
    padding: 5px 10px;
    top: 2%;
    right: 0;
}

.discount{
    background-color: rgb(241, 8, 8);
    color: white;
    position: absolute;
    z-index: 5;
    font-size: 0.5rem;
    padding: 4px 7px;
    bottom: 19%;
    left: 0;
}

.sostenibility{
    background-color: rgb(14, 128, 4);
    color: white;
    position: absolute;
    z-index: 5;
    font-size: 0.5rem;
    padding: 4px 7px;
    bottom: 19%;
    left: 13%;
}

.little{
    display: inline-block;
    font-size:0.8rem;
}

.title{
    font-size: 0.95rem;
    font-weight: bold;
}

.price{
    color: red;
    font-size: 0.7rem;
}

del{
    color: black;
}

/* footer */

footer{
    height: 90px;
    background-color: rgb(46, 44, 41);
}

.footer{
    /* background-color: aqua; */
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}


.footer-itm ul{
    margin-top: 5px;
    color: white;
}

.footer-itm ul li{
    display: inline-block;
    color: white;
    margin-right: 10px;
}

/* hoover */



.card:hover .second-img{
    z-index: 2;
}

.heart:hover{
    color: red;
}